body {
    background-color: #f4f4f4;
    color: #333;
    font-family: Arial, sans-serif;
}

.form-box {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    transition: transform 0.2s ease-in-out;
    padding: 20px;
}

h2 {
    color: #444;
}

.btn-primary {
    background-color: #6c757d;
    border-color: #6c757d;
    transition: background-color 0.3s, transform 0.2s;
}

.btn-primary:hover {
    background-color: #4b5157;
    border-color: #3e4347;
    transform: scale(1.05);
}

.btn-secondary {
    background-color: #adb5bd;
    border-color: #adb5bd;
    transition: background-color 0.3s, transform 0.2s;
}

.btn-secondary:hover {
    background-color: #6c757d;
    border-color: #5a6268;
    transform: scale(1.05);
}

.tabela-col {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.tabela-header {
    font-weight: bold;
    background-color: #6c757d;
    color: white;
    border: 1px solid #dee2e6;
    padding: 0.5rem;
    flex: 1 1 25%;
}

.tabela-col div {
    border: 1px solid #dee2e6;
    padding: 0.5rem;
    flex: 1 1 25%;
    transition: background-color 0.3s ease-in-out;
}

.tabela-col div:hover {
    background-color: #b0b0b0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.table-box {
    width: 80%;
    max-width: 800px;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.form-group label {
    width: 40%;
    margin-right: 10px;
    font-weight: bold;
}

.form-group input,
.form-group select {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.form-group select {
    cursor: pointer;
}

.tabela-col {
    display: flex;
    flex-direction: column; /* Empilha os elementos em telas pequenas */
}

.tabela-header,
.tabela-col div {
    flex: 1 1 100%; /* Cada célula ocupa 100% da largura em telas pequenas */
}

@media (min-width: 768px) {
    .tabela-col {
        flex-direction: row; /* Lado a lado em telas grandes */
    }

    .tabela-header,
    .tabela-col div {
        flex: 1 1 25%; /* Cada célula ocupa 25% da largura em telas grandes */
    }
}